
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3em;
    line-height: 2em;
    font-style: italic;
}

#title {
    background-color: #f45e75;
    color: #fff;
    padding-bottom: 70px;
}

/* navbar */

.navbar {
    padding: 50px;
}

.navbar-brand {
    margin-left: 20px;
    font-size: 3em;
    color: white;
    padding-left: 0;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
}

div .ciao {
    margin-right: 20px;
    background-color: black;
}

.dogimage {
    width: 30%;
    transform: rotate(380deg);
    padding-left: 50px;
    padding-bottom: 40px;
    position: absolute;
    right: 15%;
}

@media (max-width: 1075px) {
    .dogimage {
        width: 70%;
        transform: rotate(380deg);
        position: static;
    }
    .btn    {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 770px) and (min-width: 500px) {
    .dogimage {
        width: 50%;
        transform: rotate(380deg);
        position: static;
    }
    #title {
        text-align: center;
    }
    .btn    {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
    

.fa-solid {
    padding-right: 10px;
    margin-bottom: 20px;
}

.fa-solid:hover {
    text-shadow: 0 0 3px #f45e75, 0 0 5px rgb(134, 80, 120);
}

p {
    text-align: center;
    padding: 8%;
}

#features {
    background-color: white;
    padding: 7% 7%;
    text-align: center;
    position: relative;
    z-index: 1;
}

i {
    color: #f45e75;
    margin-bottom: 2em;
}

i:hover {
    color: black;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #f45e75;
    color: white;

}



h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3em;
    line-height: 1.5em;
    margin-bottom: 100px;
}

@media (max-width: 780px) {
    h2 {
        font-size: 2em
    }
}

.testimonial {
    width: 10%;
    border-radius: 50%;
    margin: 40px;
}

#press {
    background-color: #f45e75;
    text-align: center;
    padding-bottom: 50px;
}

@media (max-width: 1020px) {
    #press {
        background-color: #f45e75;
        text-align: center;
        padding-bottom: 50px;
        }
        
    .img {
            width: 25%;
            padding: 30px;;
        }
    }

.img {
        width: 20%;
        padding: 30px;;
    }
.btn {
    background-color: #f45e75;
    color: white;
    border-color: white;
}

.card {
    box-shadow: 0 4px 30px #f45e75, 0 4px 10px #f45e75;
}

.card:hover {
    box-shadow: 0 4px 100px #f45e75, 0 4px 10px #f45e75;
}
.card-header {
    background-color: #f45e75;
    color: whitesmoke;
}



.titlebox2 {
    margin-bottom: 0px;
    font-size: 32px;
    text-align: center;
}

.list-unstyled {
    text-align: center;
}

.btn:hover {
    background-color: rgb(174, 18, 179);
    color: white;
}

#pricing {
    padding-top: 50px;
    padding-bottom: 90px;
    padding-left: 2em;
    padding-right: 2em;
}

.bigtitle {
    text-align: center;
    margin-top: -1em;
    color:#f45e75;
    text-shadow: 0 0 3px #f45e75, 0 0 5px rgb(134, 80, 120);
    padding-top: 1em;
    padding-bottom: 0.1em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.android {
    margin: 1em;
}

.apple {
    margin: 1em
}

#cta {
    background-color: #f45e75;
    padding: 40px 0 70px 0;
    color: white;
}

#footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.fa-brands {
    margin-bottom: 15px;
}

@media (max-width: 560px) {
    .buttons {
        padding-left: 20px;
        padding-right: 20px;
    }
}

